:root {
    --heading-text-color: black;
    --border: 1px solid rgb(0, 0, 0);    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Class Selectors*/
.box{
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: white;
    color: var(--heading-text-color);
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    margin: auto;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    text-align: center;
    float: right;
    
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;    
    box-shadow: 0 0 10px rgb(38, 19, 212);    
    text-align: center;
    position: relative;
    top: 10px;
    left: 200px;
}

aside img {
    width: 200px;
    height: auto;
    
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}